In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

from IPython.display import display, Math

# K Nearest Neighbour

In [8]:
display(Math("\\text{Euclidian Distance} = \\sqrt{(x_1-x_2)^2+(y_1-y_2)^2}"))

In [16]:
import pandas as pd

dataset = pd.read_csv("Social_Network_Ads.csv")

print(dataset.isna().sum())

print(dataset.describe())

X = dataset.iloc[:,[2,3]].values
Y = dataset.iloc[:,-1].values
dataset

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64
            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [13]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=7, test_size=0.3)

from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=7)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

import numpy as np
from sklearn.metrics import confusion_matrix, accuracy_score

cm = confusion_matrix(y_test, y_pred)

print(f"Accuracy: {accuracy_score(y_test, y_pred)*100}")

Accuracy: 80.0

# Probability
    
    Probability is numerical description of how likely an event is to occur or
    how likely is that a proposition is true.
    
## Conditional Probability

    It is the measure of probability of an given even occuring given that<br>       another event has already occured
    P(A/B): Probability of A when B even B has occured

In [21]:
display(Math("\\text{Bayers Theorum}= P(E|H) = \\frac{P(H|E)*P(H)}{P(E)}"))